{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
CSV Visualizer
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome CSV Visualizer</h1>

      <p class="lead">This is a Flask + Dash web app which can be used to visualize any CSV!!</p>

      <form method="post">
        <input name="df_url" size="80%"></input>
        </br>
        </br>
        <input class="btn btn-primary" type="submit">
      </form>

    </div>
  </div>
</div>

{% endblock %}